:root {
  padding: 0;
  margin: 0;
  --colorBlue: #16697a;
  --colorSecondBlue: #489fb5;
  --colorThirdBlue: #82c0cc;
  --colorBlack: #1c0f13;
  --colorYellow: #ffa62b;
  --colorWhite: #eee;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit
}
button {
  width: 100%;
  background-color: var(--colorYellow);
  color: var(--colorWhite);
  border: 1px solid transparent;
  padding: .4rem;
  border-radius: .3rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  cursor: pointer;
}
.btn-product{
  display: block;
  width: 100%;
  cursor: pointer;
}

.cart{
  cursor: pointer;
  
}

.underline{
  height: 2px;
  background-color: var(--colorYellow);
  margin-top: .5rem;
  margin-bottom: 1.2rem;
  max-width: 80%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  padding: 1rem;
  background-color: var(--colorYellow);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-size: 1.5rem;
  padding: 0 1rem;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}


.navbar ul li {
  color: var(--colorBlack);
  font-size: 1.5rem;
}

header a {
  text-decoration: none;
  color: var(--colorWhite);
  font-weight: bold;
}

main {
  padding: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 90vw;
}

.product {
  border: 1px solid var(--colorYellow);
  border-radius: .5rem;
  margin: 1rem;
}
.ratingContainer .rating{
  margin-bottom: 1rem;
}

.rating span {
  color: var(--colorYellow);
}

.product img {
  width: 100%;
  max-width: 15rem;

}

.product .product_info {
  /* display: flex;
  flex-direction: column; */
  padding: 1rem;
}

.product button {
  width: 100%;
  background-color: var(--colorYellow);
  color: var(--colorWhite);
  border: 1px solid transparent;
  padding: .4rem;
  border-radius: .3rem;
  font-size: 1.1rem;
  text-transform: capitalize;
  cursor: pointer;
}



.product button:hover, .btn-product:hover  {
  background-color: var(--colorBlack);
  border: 1px solid var(--colorYellow)
}

section{
  padding: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 2rem;
  border: 1px solid var(--colorYellow);
}

section .left{
  flex: 2;
}
section .left .img-large{
  max-width: 100%;
  width: 40vw;
  border-radius: .9rem;
}
section .center{
  flex: 1;
  align-items: center;
}
.rating_product{
  border-top: 1px solid var(--colorYellow);
  border-bottom: 1px solid var(--colorYellow);
  width: max-content;
  padding: 1rem;
  cursor: pointer;
  
}

section .right{
  flex: 1;
}
.right .container {
  display: flex;
  flex-direction: column;
}
.right .container .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
  border: 1px solid lightgray;
  padding: .5rem;
}
 .right .container .row .col {
  padding: .2rem;
 }
 .succes, .danger{
  padding: 0.2rem 1rem;
  border-radius: .7rem;
  color: #eee;

 }

 
 .succes{
  background-color: rgba(24, 94, 24, 0.548);

 }
 .danger{
  background-color: red 
 }

